
POSTGRES_USER=sandbox2019
POSTGRES_NAME=sandbox_api
POSTGRES_HOST=sandbox-2019-staging.caicgny9d8nv.us-west-2.rds.amazonaws.com
POSTGRES_PASSWORD=FyvKLHayfTz8XUDA
POSTGRES_PORT=5432
DJANGO_SECRET_KEY=f34r.15.th3.m1nd.k1ll3r
DEBUG=true